html, body, div, h1 {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
body {background:#f4f4f4; font-family: 'Public Sans', sans-serif; color: #333; line-height: 1.5; padding:0 0 200px; margin:0;}
#header {width: 100vw; overflow: hidden; position: absolute; height:300px; z-index: 2;}
h1 {display: block;}
h1 img {width:200px; display:block; margin:10px auto; background:#f4f4f4;}
.image {position: relative; width:100vw; margin:120px 0 0; display: flex; z-index: 1; justify-content: center;}
.image .photo {padding:100px; margin:0 20px; display:block; background: #fefefe; border:15px solid #444; border-bottom-color: #333; border-left-color: #222; border-top-color: #222; box-shadow: 1px 4px 10px rgba(0,0,0,0.5);}
.image img {display: block; width:500px; border:3px solid #f6f6f6; border-bottom-color: #f9f9f9; border-right-color: #f9f9f9;}
.image .text {width:350px; margin: 0 45px; align-self: flex-end;}
#image1 .text {align-self: baseline;}
#image3 .text {align-self: center;}
#image3 img {width:340px;}
#image1 .text, #image4 .text {order: -1;}
h2 {font-size: 24px; margin: 15px 0 18px; line-height: 1.2; font-weight: 800;}
p {font-size: 18px;}
.intro div {background: rgba(255,255,255,0.9); box-shadow: 0 0 20px rgba(0,0,0,0.02); padding:30px 50px 100px; width: 520px; position: absolute; right:60px; bottom:-156px;}
.intro div p {color:#333; font-size: 18px; font-weight: 300;}
ul {list-style: none; margin: 32px 0 0; padding: 24px 0; display: flex; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
li {width:50%; text-align: center;}
li p {font-size: 14px; margin:0;}
li p:nth-child(2) {font-weight: 800;}
.info {position: relative; width:100%; max-width:1000px; margin:180px auto 0; display: flex;}
.info > div {padding: 0 70px; width: 400px;}
.info > div:first-child {border-right: 1px solid #ddd;}
@media only screen and (max-width: 1400px) {
  .image {margin:120px 40px 0; width:auto;}
  .image .photo {padding:5vw;}
}
@media only screen and (max-width: 1140px) {
  ul {display: block; padding:0; border-bottom: 0;}
  li {width: 100%; padding: 12px 0; border-bottom: 1px solid #ddd;}
  li p {display: inline-block; margin:0 5px;}
  li p:last-child {display: block;}
  .image {align-items: baseline;}
  .image img {width:40vw;}
  #image3 img {width: 26vw;}
  .image .text {margin: 0 30px;}
  .image .text, #image1 .text {align-self: flex-end;}
}
@media only screen and (max-width: 1023px) {
  .image {display: block; margin-top:100px;}
  .image .photo {padding:10vw 0; border-width: 10px;}
  .image img {width:65vw; border:0; margin: 0 auto;}
  .image .text {margin: 40px auto 0; width: 65vw; max-width: 520px}
  #image1 .text, #image4 .text {order: 2;}
  #image3 {width: 60vw; margin-left:auto; margin-right:auto;}
  #image3 img {height:55vw; width: auto;}
  #image3 .text {width: 50vw;}
  li p:last-child {display: inline-block;}
  #header {overflow: visible;}
  h1 {position: absolute; top:70vh; left:70px; margin-top: 53px; z-index: 3; display: none}
  .topimage {height: 70vh; margin-bottom: 0;}
  .intro div {position: relative; top:40px; bottom: auto; right: auto; margin-left: auto; margin-right: auto; padding: 0; width: 100vw; max-width: 600px; background: #f4f4f4; box-shadow: none;}
  .intro div p {padding:0 40px;}
}
@media only screen and (max-width: 767px) {
  .info {display: block;}
  .info div {width:auto; border:0;}
  .image {margin:100px 5vw 0;}
  .image .photo {margin:0;}
  .image .text, #image3 .text {margin:40px auto 0; width:100%;}
  #image3 {width:auto; margin-left:5vw; margin-right:5vw;}
  #image3 .photo {margin: 0 10vw;}
  #image3 img {height:70vw;}
}
@media only screen and (min-width: 1024px) {
  h1 {background:#f4f4f4; width:800px; height:120px; transform: rotate(-30deg); padding:25px 0; position: absolute; left:-285px; top:13px; box-shadow: 0 0 20px rgba(0,0,0,0.3);}
}
