html, body, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #f1f1f1;
  color: #141b26;
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  line-height: 1.45;
  padding:0;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li, ol li {
  padding: 0;
  margin: 0;
  font-weight: 200;
}


h1, h2, h3 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.25;
  display: block;
  margin: 26px 0 20px;
  padding-bottom: 20px;
  font-weight: 700;
  border-bottom: 1px solid rgba(0,0,0,0);
}
h3 {
  border:0;
  margin: 32px 0 -10px;
}
p {
  margin:1em 0;
  font-weight: 200;
  letter-spacing: 0.15px;
}
a {
  color: #141b26;
}

#header, #menu-overlay {
  position: relative;
  width: 100vw;
  text-align: center;
  top:0;
  padding: 20px 0 0;
  z-index: 100;
}
#header .logo {
  width: 180px;
  margin: 10px auto 0;
}
.start-page #header {
  position: absolute;
}
.start-page #header .logo {
  width:260px;
  position: relative;
  top:45vh;
  margin-top: -70px;
}

#menu-overlay {
  position: fixed;
  left:0;
  top:-100vh;
  min-height:100vh;
  background: #141b26;
  color:#fff;
  padding-top: 60px;
  transition: all 0.25s ease-in-out;
  opacity: 0.2;
}
#menu-overlay.active {
  top:0;
  opacity: 0.95;
}
#menu-overlay a {
  color:#fff;
  font-weight: 200;
  text-decoration: none;
}
#menu-overlay ul a {
  display: block;
  padding:10px;
  font-size: 18px;
}

nav {
  position: absolute;
  top:0;
  right:10px;
  font-size: 12px;
}
#header nav {
  position: fixed;
}
nav a, nav > div {
  display: inline-block;
  position: relative;
  color:#141b26;
  text-align: center;
  padding:9px 4px 4px;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
nav a span {
  position: relative;
  top:-1px;
  margin-left: 2px;
}
.sticky-cart a {
  font-weight: 700;
}
.start-page nav a, .start-page nav > div {
  color: #fff;
}

#photos {
  width:100vw;
  max-width:100vw;
  margin:20px auto 0;
}
.photo {
  padding:20px;
  background: #fff;
  margin:-20px auto 20px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0,0,0,.05);
}
#photos > div {
  max-width: 940px;
  margin:0 auto;
}
.photo img {
  width:100%;
}

.text {
  padding: 20px 8vw 60px;
  max-width: 900px;
  margin: 0 auto 40px;
  display: flex;
  position: relative;
}
.text.noflex {
  display: block;
}
.text ul {
  justify-content: center;
  min-width: 200px;
  margin:24px 0 0 40px;
  padding-left: 40px;
  border-left: 1px solid rgba(0,0,0,0);
}
.text.noflex ul {
  margin:0;
  padding:0;
  border:0;
}
.text ul li {
  display: block;
  font-size: 14px;
}
.photo-page #photos p::first-letter,
.firstp::first-letter  {
  font-family: "Bungee Outline";
  color: #141b26;
  font-size: 4.85em;
  display: block;
  float:left;
  line-height: 0.7;
  margin: 8px 12px 5px 0;
  padding: 0;
}

.text ul li {
  margin: 0 0 12px;
}

button, .image ul a, a.button {
  display: block;
  background: rgba(0,0,0,0);
  border: 1.2px solid rgba(0,0,0,.6);
  color: #141b26;
  padding: 12px;
  margin-bottom: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  outline-color: rgba(0,0,0,.8);
  letter-spacing: 1px;
  min-width: 120px;
  text-align: center;
}

.toparea {
  background: #000;
  position: relative;
  z-index:0;
  margin: 0 auto;
  height:96vh;
  min-height: 550px;
  width: 100vw;
}
.topimage {
  height:96vh;
  min-height: 550px;
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
  background: url(surtees.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 0.35;
}
#story {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto 100px;
}
#story .text,
#story h1 {
  position: relative;
  z-index: 1;
  max-width: 100vw;
  width: 1200px;
  margin: 0 auto;
}
#story .text div {
  width: 50%;
  padding: 40px 40px 0;
}



form div {
  position: relative;
}
form p,
label {
  font-size: 16px;
  margin: 20px 0 0;
}
label {
  display: block;
  padding: 5px 10px 8px 30px;
  margin:0;
}
input[type="text"], input[type="email"], textarea {
  width: 100%;
  font-family: 'Public Sans', sans-serif;
  font-size: 16px;
  color: #1B4F72;
  padding: 10px;
  margin-bottom:-3px;
  border: 1px solid rgba(0,0,0,.2);
  outline: none;
  background: #fff;
  background-clip: padding-box;
  border-radius: 0px;
  -webkit-border-radius:0px;
}

form button {
  margin: 20px 0 60px;
}

input.invalid:not(:focus),
textarea.invalid:not(:focus) {
  background: #FADBD8;
  border:1px solid #E32636;
}

input::placeholder {
  color:#bbb;
}
input.ph-hidden::placeholder {
  color:#fff;
}

input.invalid:not(:focus)::placeholder,
textarea.invalid:not(:focus)::placeholder {
  color: #E32636;
}

input + p.radio {
  margin-top: 30px;
}
p.radio {
  margin-bottom: 10px;
}

p.error {display: none; color:#E32636;}
p.error.active {display: block;}
p.error a {color:#E32636; border-color: #F1948A;}

#cart h2 {
  margin-bottom: 0;
  font-size: 18px;
}
#cart .text {
  margin: 0 auto;
}
#cart h4 {
  margin-top: 50px;
}
#cart .text span {
  font-weight: 200;
  text-transform: none;
}
.cart .item {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  margin:5px 0;
}
.cart img {
  max-width:80px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}
.cart .quantity {
  line-height: 100%;
}
.cart .quantity span {
  display: inline-block;
  font-size: 14px;
  width:40px;
  position: relative;
  line-height: 40px;
}
.cart .quantity .buttons {
  display: inline-block;
  width: 160px;
  margin-left:8px;
}
.cart .buttons button {
  display: inline-block;
  min-width:40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(0,0,0,.2);
}
.cart .buttons .remove {
  border: none !important;
  margin-left: 10px;
}

#ronniepeterson .photo {
  max-width:600px;
}

#footer {
  text-align: center;
  position: relative;
  font-size: 14px;
}

#footer h2,
#footer ul {
  border:0;
  margin-top:1em;
}
#footer h2 {
  margin:2em 0 0;
  padding: 0;
}
#footer ul {
  display: flex;
}
#footer ul li {
  padding:0 20px 20px;
}

div.line {
  border-top: 5px solid #141b26;
  transform: rotateZ(.75deg);
  margin-bottom: 40px;
}
#photos div.line,
#cart div.line {
  transform: rotateZ(-1deg);
  top: 160px;
  position: absolute;
  width: 100vw;
  max-width: 100vw;
  z-index: 0;
}



@media only screen and (max-width: 900px) {
  .start-page #header .logo {
    top:30vh;
  }
  #story .text {
    display: block;
  }
  #story .text div {
    width: 100%;
    padding: 40px 10px 0;
  }
  #story .text div:last-child {
    padding-top: 0;
  }
  .toparea {
    height:60vh;
  }
  .topimage {
    height:60vh;
  }
}

@media only screen and (max-width: 580px) {
  #header {
    padding:0;
  }
  #header .logo {
    margin:22px 20px 20px;
    width:160px;
  }
  .start-page #header .logo {
    margin: -60px auto 0;
  }
  .photo {
    padding:0;
    background: 0;
    margin:-5px 0 -20px;
  }
  .text {
    display: block;
  }
  .text ul {
    margin:0;
    padding: 30px 0 0;
    border:0;
  }
}

@media only screen and (max-width: 374px) {
  #header .logo {
    max-width:36vw;
  }
  .start-page #header .logo {
    max-width:160px;
  }
  .cart img {
    max-width: 54px;
  }
  .cart .quantity .buttons {
    margin-left: 0;
  }
}

@media only screen and (min-width: 1100px) {
  #photos > #ronniepeterson {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    width:100vw;
    max-width: 940px;
  }
  #ronniepeterson .photo {
    min-width: 550px;
  }
  #ronniepeterson .text {
    display: block;
    margin:0;
    padding:60px 50px 0 50px;
  }
  #ronniepeterson .text ul {
    padding-left: 0;
    margin: 40px 0;
    border-left: 0;
  }
}
